#jumbo {
    background-color: navy;
    color: white;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-style: solid;
    border-color: red;
}
.card-header {
    background-color: navy;
    color: white;
    font-weight: bold;
}
.card {
    border-color: red;
}